#productCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 46px;
    margin-right: 46px;
    background-color: white;
}

.producstCardsButton {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    margin: 2px;
    padding: 0;
    border: 0;
}

/* .producstCardsButton:hover {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    max-height: 300px;
    max-width: 250px;
    margin: 2px;
    padding: 0;
    border: 2px;
    border-color: black;
} */

.producstCardsButtonP {
    margin: 0;
    padding: 3px;
    border: 0;
    color: #fd5f00;
    background-color: white;
    font-size: 20px;
}

.producstCardsButtonImg {
    margin: 0;
    padding: 0;
    border: 0;
    width: 400px; 
    height: 200px
}